<div class="row card-container">
    <div class="col-md-12">
        {{#if message}}
        <div class="alert alert-{{type}}">
            {{message}}
        </div>
        {{/if}}
        <div class="card main-card">
            <div class="card-header ">
                <h5 class="card-title">Dashboard</h5>
            </div>
            <div class="card-body ">
                <h1 style="display: block; text-align: center; margin-left: auto; margin-right:auto;">Welcome to HSL
                    Video Stream Tool!</h1>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
<script>

</script>
{{/section}}