<div class="content">
    <div class="row">
        {{!-- <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="../assets/img/damir-bosnjak.jpg" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
                            <h5 class="title">Chet Faker</h5>
                        </a>
                        <p class="description">
                            @chetfaker
                        </p>
                    </div>
                    <p class="description text-center">
                        "I like the way you work it <br>
                        No diggity <br>
                        I wanna bag it up"
                    </p>
                </div>
                <div class="card-footer">
                    <hr>
                    <div class="button-container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-6 ml-auto">
                                <h5>12<br><small>Files</small></h5>
                            </div>
                            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                                <h5>2GB<br><small>Used</small></h5>
                            </div>
                            <div class="col-lg-3 mr-auto">
                                <h5>24,6$<br><small>Spent</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Team Members</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled team-members">
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-2">
                                    <div class="avatar">
                                        <img src="../assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image"
                                            class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-7 col-7">
                                    DJ Khaled
                                    <br />
                                    <span class="text-muted"><small>Offline</small></span>
                                </div>
                                <div class="col-md-3 col-3 text-right">
                                    <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                                            class="fa fa-envelope"></i></btn>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-2">
                                    <div class="avatar">
                                        <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image"
                                            class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-7 col-7">
                                    Creative Tim
                                    <br />
                                    <span class="text-success"><small>Available</small></span>
                                </div>
                                <div class="col-md-3 col-3 text-right">
                                    <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                                            class="fa fa-envelope"></i></btn>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-2">
                                    <div class="avatar">
                                        <img src="../assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image"
                                            class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-ms-7 col-7">
                                    Flume
                                    <br />
                                    <span class="text-danger"><small>Busy</small></span>
                                </div>
                                <div class="col-md-3 col-3 text-right">
                                    <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                                            class="fa fa-envelope"></i></btn>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div> --}}
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Settings</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-5 pr-1">
                                <label>Select Intro Video: </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 pr-1 row" style="justify-content: space-evenly;">
                                <div>
                                    <input type="radio" id="intro1" name="intro" value="intro1" onselect="videoElement">
                                    <label for="intro1">Intro Video 1</label>
                                    <br>
                                    <button width="10" class="btn btn-primary btn-round" id="intro1Btn">Preview</button>
                                    <br>
                                </div>
                                <div>
                                    <input type="radio" id="intro2" name="intro" value="intro2">
                                    <label for="intro2">Intro video 2</label><br>
                                    <button width="10" class="btn btn-primary btn-round"
                                        id="intro2Btn">Preview</button><br>
                                </div>
                                <div>
                                    <input type="radio" id="intro3" name="intro" value="intro3">
                                    <label for="intro3">Intro video 3</label><br>
                                    <button width="10" class="btn btn-primary btn-round" id="intro3Btn">Preview</button>
                                </div>
                            </div>
                        </div>
                        <div style="text-align:center">
                            <br><br>
                            <iframe width="480px" ; height="370px" id="videoDiv"
                                src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_480_1_5MG.mp4">
                            </iframe>
                        </div>
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-round">Save Settings</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#intro1Btn").click(function () {
            $("videoDiv").hide();
        });
        $("#intro1Btn").click(function () {
            $("videoDiv").show();
        });
    });
</script>
<script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
<video id="videoElement">
    <source src="https://www.youtube.com/watch?v=j4Sqh-OXPgA" type="video/mp4">
</video>
<script>
    if (flvjs.isSupported()) {
        var videoElement = document.getElementById('videoElement');
        var flvPlayer = flvjs.createPlayer({
            type: 'flv',
            url: 'https://www.youtube.com/watch?v=j4Sqh-OXPgA'
        });
        flvPlayer.attachMediaElement(videoElement);
        flvPlayer.load();
        flvPlayer.play();
    }
</script>